# Interactive Dashboard for Sales Data Analysis with AI-generated insights and summaries. 
Build with OpenAI Library and DASH

### Process: 
1. Load and Explore Data
- 1.1. Import necessary libraries.
- 1.2. Load the dataset.
- 1.3. Check the shape of the dataset, Duplicate Rows Number, Duplicate Rows Number.
- 1.4. Assess data quality: identify missing values and % of missing values.

2. Preprocess Data
- 2.1. Dealing with Duplicates
- 2.2. Standardize Column Names:
- Remove leading and trailing spaces and underscores.
- Replace non-alphanumeric characters with underscores.
- Convert column names to lowercase.

3. Data Types Correction
- Ensure columns have the correct data types.
- Parse dates: Convert dates to datetime format.

4. Data Correction
- 4.1. Identify data that need correction: values_count(), unique()
- 4.2. Correcting Typos, Handling Synonyms, Standardizing Formats (countries, states, cities etc.)
- 4.3. Export cleaned dataset

5. OpenAI Library
- 5.1. Installation anf of the OpenAI Library
- 5.2. Reading API Configuration Keys

6. Build the Dashboard in DASH

### 1. Load and Explore Data
- 1.1. Import necessary libraries.
- 1.2. Load the dataset.
- 1.3. Check the shape of the dataset, Duplicate Rows Number, Duplicate Rows Number.
- 1.4. Assess data quality: identify missing values and % of missing values.

In [1]:
# 1.1. Import necessary libraries.
import openai
import os
import dash
import plotly.express as px
import re
import dash
from dash import dcc, html
from dotenv import load_dotenv
import pandas as pd
from dash import html, dcc
from dash.dependencies import Input, Output, State

In [2]:
# 1.2. Load the dataset
df = pd.read_csv('../GPT_OPEN_AI_project/data/raw_data/sales_history_sample_june.csv')

In [3]:
# 1.3. Check the shape of the dataset, Duplicate Rows Number, Duplicate Rows Number.
def initial_data_checking(df):
    # Print the shape of the DataFrame (number of rows and columns)
    print("\nShape of the DataFrame:\n")
    print(df.shape)

    # Print the count of duplicate rows
    print("\nDuplicate Rows Number:\n")
    print(df.duplicated().sum())

    # Print summary statistics for numerical columns
    print("\nSummary Statistics:\n")
    print(df.describe())
    
initial_data_checking(df)

Shape of the DataFrame:

(1119, 13)

Duplicate Rows Number:

68

Summary Statistics:

         Invoice No      Order No      Quantity     Unit Cost    Unit Price  \
count  1.119000e+03  1.119000e+03   1119.000000   1119.000000   1119.000000
mean   2.151564e+07  2.401454e+07    210.370078    109.530577    215.318618
std    7.454987e+06  3.445960e+05    904.026709   1060.981943   1669.957269
min    3.169850e+05  2.125118e+07      0.996000      0.000000      0.000000
25%    2.400206e+07  2.410055e+07      1.000000      0.393150      1.675000
50%    2.400220e+07  2.410141e+07     24.000000      9.401800     21.690000
75%    2.440108e+07  2.420047e+07    100.000000     26.632000     79.287000
max    2.440123e+07  2.425048e+07  16072.000000  28588.005000  43378.832000

       Total Value USD
count      1119.000000
mean       4965.630920
std       16270.141993
min           0.000000
25%         132.500000
50%         962.000000
75%        3378.000000
max      255880.000000

In [4]:
# 1.4. Assess data quality: identify missing values and % of missing values.
def unique_and_missing_values_dtype(df):
    # Non-null counts and data types
    non_null_counts = df.notnull().sum()
    dtypes = df.dtypes

    # Count of unique values
    unique_count = df.nunique()

    # Percentage of unique values
    unique_percentage = (df.nunique() / len(df)) * 100

    # Count of missing values
    missing_count = df.isnull().sum()

    # Percentage of missing values
    missing_percentage = df.isnull().mean() * 100

    # Combine into a DataFrame
    summary = pd.DataFrame({
        'non-Null_count': non_null_counts,
        'dtype': dtypes,
        'unique_values': unique_count,
        '%_unique': unique_percentage.round(2).astype(str) + '%',
        'missing_values': missing_count,
        '%_missing': missing_percentage.round(2).astype(str) + '%'
    })

    return summary

unique_and_missing_values_dtype(df)

,non-Null_count,dtype,unique_values,%_unique,missing_values,%_missing
Invoice No,1119,int64,613,54.78%,0,0.0%
Order No,1119,int64,566,50.58%,0,0.0%
Sales Rep Name,1117,object,15,1.34%,2,0.18%
SITE,1119,object,3,0.27%,0,0.0%
Date,1119,object,20,1.79%,0,0.0%
Ship to Country,1119,object,9,0.8%,0,0.0%
Market Segment,1119,object,22,1.97%,0,0.0%
Quantity,1119,float64,180,16.09%,0,0.0%
Unit Cost,1119,float64,638,57.02%,0,0.0%
Unit Price,1119,float64,601,53.71%,0,0.0%
Total Profit USD,1119,object,709,63.36%,0,0.0%
Total Cost USD,1119,object,613,54.78%,0,0.0%
Total Value USD,1119,int64,723,64.61%,0,0.0%

Cleaning Summary:

1. Sales Rep Name drop missing values rows
2. Format Date to datetime
3. Format Quantity to int

### 2. Preprocess Data
- 2.1. Dealing with Duplicates
- 2.2. Standardize Column Names:
- Remove leading and trailing spaces and underscores.
- Replace non-alphanumeric characters with underscores.
- Convert column names to lowercase.

In [5]:
# 2.1. Dealing with Duplicates
df.dropna(inplace=True)

In [6]:
# 2.2. Standardize Column Names:
def format_column_titles(df):
    # Define a function to clean a single column name
    def clean_column(name):
        name = name.strip()  # Remove leading and trailing spaces
        # Replace non-alphanumeric characters with underscores
        name = re.sub(r'[^0-9a-zA-Z]+', '_', name)
        # Replace multiple underscores with a single underscore
        name = re.sub(r'_+', '_', name)
        name = name.lower()  # Convert to lowercase
        return name.strip('_')  # Remove leading and trailing underscores

    # Apply the clean_column function to all column names in the DataFrame
    df.columns = [clean_column(col) for col in df.columns]
    return df.columns
    
format_column_titles(df)
df.head()

,invoice_no,order_no,sales_rep_name,site,date,ship_to_country,market_segment,quantity,unit_cost,unit_price,total_profit_usd,total_cost_usd,total_value_usd
0,24002290,24100343,FBER,B,2024-06-28,US,TR,1464.0,10.2559,14.79,"$6,638","$15,015",21653
1,24002290,24100343,FBER,B,2024-06-28,US,TR,1.0,0.0000,0.00,$0,$0,0
2,24002292,24101537,FBER,B,2024-06-28,US,TR,100.0,3.6035,10.88,$728,$360,1088
3,24002292,24101537,FBER,B,2024-06-28,US,TR,1.0,0.0000,0.00,$0,$0,0
4,24002293,23103363,KTIE,B,2024-06-28,US,NT,21.0,14.2490,59.54,$951,$299,1250

### 3. Data Types Correction
- Ensure columns have the correct data types.
- Parse dates: Convert dates to datetime format.
1. Format Date to datetime
1. Format Quantity to int

In [7]:
# convert_date_to_datetime:
def convert_date_to_datetime(df, date_col):
    df[date_col] = pd.to_datetime(df[date_col])
    return df
convert_date_to_datetime(df, 'date')

,invoice_no,order_no,sales_rep_name,site,date,ship_to_country,market_segment,quantity,unit_cost,unit_price,total_profit_usd,total_cost_usd,total_value_usd
0,24002290,24100343,FBER,B,2024-06-28,US,TR,1464.0,10.2559,14.790,"$6,638","$15,015",21653
1,24002290,24100343,FBER,B,2024-06-28,US,TR,1.0,0.0000,0.000,$0,$0,0
2,24002292,24101537,FBER,B,2024-06-28,US,TR,100.0,3.6035,10.880,$728,$360,1088
3,24002292,24101537,FBER,B,2024-06-28,US,TR,1.0,0.0000,0.000,$0,$0,0
4,24002293,23103363,KTIE,B,2024-06-28,US,NT,21.0,14.2490,59.540,$951,$299,1250
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,316985,24250233,MRHO,D,2024-06-03,US,PI,2.0,576.5250,2709.710,"$3,125",$848,3973
1115,316986,24250253,DHOU,D,2024-06-03,US,IC,1.0,420.5000,483.200,$45,$309,354
1116,316987,24250274,DHOU,D,2024-06-03,US,IC,1.0,420.5000,483.200,$45,$309,354
1117,316988,24250316,SGOY,D,2024-06-03,CA,TP,36.0,68.5469,289.780,"$8,618","$1,814",10432
1118,316989,24250381,MRHO,D,2024-06-03,US,PO,36.0,14.9522,46.942,$843,$396,1239

In [8]:
# convert_quantity_to_integer
def convert_quantity_to_integer(df, quantity_col):
    df[quantity_col] = df[quantity_col].astype(int)
    return df

convert_quantity_to_integer(df, 'quantity')

,invoice_no,order_no,sales_rep_name,site,date,ship_to_country,market_segment,quantity,unit_cost,unit_price,total_profit_usd,total_cost_usd,total_value_usd
0,24002290,24100343,FBER,B,2024-06-28,US,TR,1464,10.2559,14.790,"$6,638","$15,015",21653
1,24002290,24100343,FBER,B,2024-06-28,US,TR,1,0.0000,0.000,$0,$0,0
2,24002292,24101537,FBER,B,2024-06-28,US,TR,100,3.6035,10.880,$728,$360,1088
3,24002292,24101537,FBER,B,2024-06-28,US,TR,1,0.0000,0.000,$0,$0,0
4,24002293,23103363,KTIE,B,2024-06-28,US,NT,21,14.2490,59.540,$951,$299,1250
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,316985,24250233,MRHO,D,2024-06-03,US,PI,2,576.5250,2709.710,"$3,125",$848,3973
1115,316986,24250253,DHOU,D,2024-06-03,US,IC,1,420.5000,483.200,$45,$309,354
1116,316987,24250274,DHOU,D,2024-06-03,US,IC,1,420.5000,483.200,$45,$309,354
1117,316988,24250316,SGOY,D,2024-06-03,CA,TP,36,68.5469,289.780,"$8,618","$1,814",10432
1118,316989,24250381,MRHO,D,2024-06-03,US,PO,36,14.9522,46.942,$843,$396,1239

In [9]:
unique_and_missing_values_dtype(df)

,non-Null_count,dtype,unique_values,%_unique,missing_values,%_missing
invoice_no,1117,int64,612,54.79%,0,0.0%
order_no,1117,int64,565,50.58%,0,0.0%
sales_rep_name,1117,object,15,1.34%,0,0.0%
site,1117,object,3,0.27%,0,0.0%
date,1117,datetime64[ns],20,1.79%,0,0.0%
ship_to_country,1117,object,9,0.81%,0,0.0%
market_segment,1117,object,22,1.97%,0,0.0%
quantity,1117,int64,177,15.85%,0,0.0%
unit_cost,1117,float64,637,57.03%,0,0.0%
unit_price,1117,float64,600,53.72%,0,0.0%
total_profit_usd,1117,object,707,63.29%,0,0.0%
total_cost_usd,1117,object,612,54.79%,0,0.0%
total_value_usd,1117,int64,721,64.55%,0,0.0%

### 4. Data Correction
- 4.1. Identify data that need correction: values_count(), unique()
- 4.2. Correcting Typos, Handling Synonyms, Standardizing Formats

In [10]:
# 4.1. Identify data that need correction: values_count(), unique()
# Visualize Value Counts for All Columns to identify outliers: 
def display_value_counts_all_columns(df):
    for col in df.columns:
        print(f"Value counts for column '{col}':")
        print(df[col].value_counts())
        print("\n" + "-"*50 + "\n")

display_value_counts_all_columns(df)
display_value_counts_all_columns

Value counts for column 'invoice_no':
invoice_no
24401222    20
24401155    20
317024      12
24401097    11
24401164    11
            ..
24401058     1
24401057     1
24401056     1
24401052     1
24001991     1
Name: count, Length: 612, dtype: int64

--------------------------------------------------

Value counts for column 'order_no':
order_no
24100343    20
24200186    20
23201826    20
24250424    12
24200326    11
            ..
24250233     1
24250253     1
24250274     1
24250316     1
24250381     1
Name: count, Length: 565, dtype: int64

--------------------------------------------------

Value counts for column 'sales_rep_name':
sales_rep_name
SBEA    211
MRHO    129
MWIS    119
DGAS    117
KTIE     75
FBER     74
AMIN     73
SGOY     70
BHOU     61
WMOR     46
GXAV     44
OGAL     44
THOU     32
JAKI     16
DHOU      6
Name: count, dtype: int64

--------------------------------------------------

Value counts for column 'site':
site
B    666
T    328
D    123
Name: count, dtype: int64

--------------------------------------------------

Value counts for column 'date':
date
2024-06-28    112
2024-06-10     81
2024-06-14     68
2024-06-12     67
2024-06-26     65
2024-06-03     63
2024-06-04     54
2024-06-20     54
2024-06-13     53
2024-06-17     52
2024-06-19     51
2024-06-27     50
2024-06-18     47
2024-06-25     45
2024-06-06     44
2024-06-21     43
2024-06-07     43
2024-06-11     43
2024-06-24     42
2024-06-05     40
Name: count, dtype: int64

--------------------------------------------------

Value counts for column 'ship_to_country':
ship_to_country
US    850
CA    231
UK     13
AU     11
PE      4
ME      3
SP      2
SK      2
CO      1
Name: count, dtype: int64

--------------------------------------------------

Value counts for column 'market_segment':
market_segment
TA    211
PO    147
TR    111
TE     83
IC     83
NW     80
PS     62
PP     49
PI     48
OL     47
PV     44
PM     40
NM     29
NH     23
TC     12
NT     10
PR     10
TP      8
NO      7
PC      5
TO      5
OM      3
Name: count, dtype: int64

--------------------------------------------------

Value counts for column 'quantity':
quantity
1       289
100     107
50       49
24       41
10       36
       ...
420       1
370       1
408       1
1436      1
14        1
Name: count, Length: 177, dtype: int64

--------------------------------------------------

Value counts for column 'unit_cost':
unit_cost
0.0000     266
44.5724     19
20.5715     19
10.2559     13
51.2180     11
          ...
52.0300      1
9.2009       1
4.5736       1
8.4922       1
1.9141       1
Name: count, Length: 637, dtype: int64

--------------------------------------------------

Value counts for column 'unit_price':
unit_price
0.000       255
19.003       20
73.203       20
14.790       13
101.169      11
           ...
240.250       1
2709.710      1
110.850       1
289.780       1
28.780        1
Name: count, Length: 600, dtype: int64

--------------------------------------------------

Value counts for column 'total_profit_usd':
total_profit_usd
$0          196
$2,089       12
$3,650       11
$1,683        9
$2,677        7
           ...
$2,028        1
$1,469        1
$25,660       1
$29,500       1
$951          1
Name: count, Length: 707, dtype: int64

--------------------------------------------------

Value counts for column 'total_cost_usd':
total_cost_usd
$0          268
$3,277       12
$3,766       11
$1,454        9
$3,636        7
           ...
$618          1
$686          1
$13,520       1
$1,005        1
$25,577       1
Name: count, Length: 612, dtype: int64

--------------------------------------------------

Value counts for column 'total_value_usd':
total_value_usd
0        205
5366      12
7416      11
3137       9
150        8
        ...
721        1
3973       1
219        1
10432      1
962        1
Name: count, Length: 721, dtype: int64

--------------------------------------------------

In [11]:
# 4.1. Identify data that need correction: values_count(), unique()
# Visualize Unique Value for All Columns to identify outliers: 
def display_value_counts_all_columns(df):
    for col in df.columns:
        print(f"Value counts for column '{col}':")
        print(df[col].unique())
        print("\n" + "-"*50 + "\n")

display_value_counts_all_columns(df)
display_value_counts_all_columns

Value counts for column 'invoice_no':
[24002290 24002292 24002293 24002294 24002295 24002296 24002297 24002298
 24002299 24002300 24002301 24002302 24002303 24002304 24002305 24002306
 24002307 24002308 24002309 24002310 24002311 24002312 24002313 24002314
 24002315 24002316 24002317 24002318 24002319 24002320 24002321 24002322
 24002323 24002324 24002325 24002326 24002327 24401219 24401220 24401221
 24401222 24401223 24401224 24401225 24401226 24401227   317072   317074
   317075   317076 24002275 24002276 24002277 24002278 24002279 24002280
 24002281 24002282 24002283 24002284 24002285 24002286 24002287 24002288
 24002289 24401207 24401208 24401209 24401210 24401211 24401212 24401213
 24401214 24401215 24401216 24401217 24401218   317066   317067   317068
   317069   317070 24002247 24002248 24002250 24002251 24002252 24002253
 24002254 24002255 24002256 24002257 24002258 24002259 24002260 24002261
 24002262 24002263 24002264 24002265 24002266 24002267 24002268 24002269
 24002270 24002271 24002272 24002273 24002274 24401200 24401201 24401202
 24401203 24401204 24401205 24401206   317062   317063   317064   317065
 24002226 24002227 24002228 24002229 24002230 24002231 24002232 24002233
 24002234 24002235 24002236 24002238 24002239 24002240 24002241 24002242
 24002243 24002244 24002245 24002246 24401192 24401193 24401194 24401195
 24401196 24401197 24401198 24401199   317056   317060   317061 24002215
 24002216 24002217 24002218 24002219 24002220 24002221 24002222 24002223
 24002224 24002225 24401183 24401184 24401185 24401186 24401187 24401188
 24401189 24401190 24401191 24002198 24002199 24002200 24002201 24002202
 24002203 24002204 24002205 24002206 24002207 24002208 24002209 24002210
 24002211 24002212 24002213 24002214 24401172 24401173 24401174 24401175
 24401176 24401177 24401178 24401179 24401180 24401181 24401182   317051
 24002185 24002186 24002187 24002188 24002189 24002190 24002191 24002192
 24002193 24002194 24002195 24002196 24002197 24401163 24401164 24401165
 24401166 24401167 24401168 24401169 24401170 24401171   317047   317048
   317049   317052 24002178 24002179 24002180 24002181 24002182 24002183
 24401155 24401156 24401157 24401158 24401159 24401160 24401161 24401162
   317045   317046   317050   317053   317071   317073 24002159 24002160
 24002161 24002162 24002163 24002164 24002165 24002166 24002167 24002168
 24002169 24002170 24002171 24002172 24002173 24002174 24002175 24002176
 24002177 24401153 24401154   317041   317043   317057   317058   317059
 24002140 24002141 24002142 24002143 24002144 24002145 24002146 24002147
 24002148 24002149 24002150 24002151 24002152 24002153 24002154 24002155
 24002156 24002157 24002158 24401147 24401148 24401149 24401150 24401151
 24401152   317044 24002122 24002123 24002124 24002125 24002126 24002127
 24002128 24002129 24002130 24002131 24002132 24002133 24002134 24002135
 24002136 24002137 24002138 24002139 24401136 24401137 24401138 24401139
 24401140 24401141 24401142 24401143 24401144 24401145 24401146   317037
   317038   317039 24002103 24002104 24002105 24002106 24002107 24002108
 24002109 24002110 24002111 24002112 24002113 24002114 24002115 24002116
 24002117 24002118 24002119 24002120 24002121 24401129 24401130 24401131
 24401132 24401133 24401134 24401135   317026   317027   317028   317029
   317030   317031   317033   317034   317035   317036 24002084 24002085
 24002086 24002087 24002088 24002089 24002090 24002091 24002092 24002093
 24002094 24002095 24002096 24002097 24002098 24002099 24002100 24002101
 24002102 24401116 24401117 24401118 24401119 24401120 24401121 24401122
 24401123 24401124 24401125 24401126 24401127 24401128   317020   317021
   317022   317023   317024   317032 24002074 24002075 24002076 24002077
 24002078 24002079 24002080 24002081 24002082 24002083 24401103 24401104
 24401105 24401106 24401107 24401108 24401109 24401110 24401111 24401112
 24401113 24401114 24401115   317015   317017   317018   317019   317025
 24002049 24002050 24002051 24002052 24002053 24002054 24002055 24002056
 24002057 24002058 24002059 24002060 24002061 24002062 24002063 24002064
 24002065 24002066 24002067 24002068 24002069 24002070 24002071 24002072
 24002073 24401096 24401097 24401098 24401099 24401100 24401101 24401102
   317009   317010   317011   317012   317013   317014   317016 24002041
 24002042 24002043 24002044 24002045 24002046 24002047 24002048 24401085
 24401086 24401087 24401088 24401089 24401090 24401091 24401092 24401093
 24401094 24401095   317004   317005   317006   317007   317008 24002028
 24002029 24002030 24002031 24002032 24002033 24002034 24002035 24002036
 24002037 24002038 24002039 24002040 24401078 24401079 24401080 24401081
 24401082 24401083 24401084   317001   317002   317003 24002018 24002019
 24002020 24002021 24002022 24002023 24002024 24002025 24002026 24002027
 24401068 24401069 24401070 24401071 24401072 24401073 24401074 24401075
 24401076 24401077   316994   316995   316996   316997   316998   316999
   317000 24001994 24001995 24001996 24001997 24001998 24001999 24002000
 24002001 24002002 24002003 24002004 24002005 24002006 24002007 24002008
 24002009 24002010 24002011 24002012 24002013 24002014 24002015 24002016
 24401060 24401061 24401062 24401063 24401064 24401065 24401066 24401067
   316990   316991   316992   316993 24001975 24001976 24001977 24001978
 24001979 24001980 24001981 24001982 24001983 24001984 24001985 24001986
 24001987 24001988 24001989 24001990 24001991 24001992 24001993 24401052
 24401053 24401054 24401055 24401056 24401057 24401058 24401059   316985
   316986   316987   316988   316989]

--------------------------------------------------

Value counts for column 'order_no':
[24100343 24101537 23103363 23103642 24100217 24100255 24101517 24101563
 23102917 23103085 23103166 23103191 23103239 23103554 24100012 24100043
 24100065 24100317 24100324 24100453 24100492 24100609 24100636 24100729
 24100789 24100838 24100959 24100962 24100978 24100991 24101203 24101247
 24101435 24101552 24101658 24101752 24101769 23200772 23201793 24200135
 24200186 24200358 24200698 24200785 24200932 24201001 23250649 24250015
 24250065 24250409 24101731 24101453 24101524 24101582 23103526 24100013
 24100633 24100639 24100973 24101441 24101523 24101547 24101568 24101576
 24101592 24200409 24200668 24200139 24200719 24200873 24200908 24200910
 24200914 24200947 24200970 24200993 24201007 24250083 24250204 24250352
 24250406 24250478 23103144 23102309 24100362 24100349 24100106 24100765
 24100817 24100122 24100426 24100518 24100626 24100627 24100634 24100906
 24100966 24101055 24101167 24101238 24101317 24101452 24101514 24101515
 24101564 24101569 24101734 24101737 24200866 24200663 24200882 24200907
 24200946 24200951 24200968 24250294 24250305 24250318 23250884 23103300
 24100516 24101307 24101491 23102293 23102574 23102963 23103113 24100672
 24101114 24101602 24100137 24100761 24100781 24101031 24101104 24101424
 24101551 24200310 24200806 22200952 24200535 24200903 24200943 24200967
 24200994 24250443 23250728 23250877 24100969 24101534 23103279 23103416
 24100000 24101079 24101313 24101403 24101521 24101557 23201802 24200479
 24200536 24200728 24200801 24200930 24200953 24200954 24200971 23102048
 24100649 24101356 24101677 23103190 24100645 24101102 24101391 24101395
 24101480 24101533 24101675 24101678 23201717 24200481 24200769 24200514
 24200886 24200887 24200916 24200917 24200929 24200942 24200974 23250730
 24101065 24100256 24101562 23103423 24100089 24100637 24100733 24100850
 24100924 24101259 24101522 24101679 24200116 24200326 24200682 24200944
 24200945 24200948 24200949 24200955 24200969 24250215 24250237 24250249
 24250374 24100424 24101566 24101438 24101473 24101637 23201826 24200237
 24200933 24200934 24200936 24200937 24200939 24200940 23250899 24250380
 24250449 23250139 23250631 23250714 24101145 24101358 24101485 24101507
 24100165 24100803 24100809 24100859 24101300 24101364 24101389 24101402
 24101407 24101408 24101511 24101513 24101597 24101611 24101665 24200976
 24200925 23250051 23250590 23250589 24101091 24101440 24101237 24101500
 24101505 23103241 24100062 24100204 24100350 24101196 24101255 24101309
 24101401 24101419 24101528 24101593 24101633 24101634 24200435 24200539
 24200696 24200810 24200890 24250187 24101615 23103183 23103404 24100016
 24100148 24100181 24100485 24100707 24100725 24100970 24100983 24101225
 24101326 24101450 24101626 24101641 23201391 23201687 24200690 24200606
 24200675 24200688 24200802 24200825 24200826 24200827 24200868 24250289
 24250370 24250405 23101342 24101413 24100471 24100542 24101414 24101502
 24100307 24100308 24100371 24100402 24100504 24100540 24100856 24101206
 24101349 24101472 23201534 24200339 24200468 24200834 24200885 24200902
 24200905 24250299 24250387 24250392 24250435 24250436 24250437 23250729
 24250133 24100514 24101112 24101483 24101578 24100263 24100413 24100529
 24100961 24101073 24101334 24101361 24101373 24101382 24101467 24101478
 24101486 24101509 23201393 23201467 24200221 24200227 24200865 24200878
 24200851 24200861 24200871 24200876 24200881 24200911 24250000 24250292
 24250300 24250311 24250424 24250445 24101119 24100853 24101069 24101111
 24101120 24101121 24101122 24101268 24101558 23201638 24200484 24200581
 24200651 24200658 24200863 24200874 24200883 24200891 24200901 24200909
 24200912 24250285 24250396 24250397 24250398 21251177 24100499 24101231
 24101548 23103178 23103497 24100315 24100370 24100399 24100557 24100640
 24100899 24101048 24101216 24101242 24101387 24101393 24101451 24101458
 24101493 24101497 24101531 24101535 24101573 23201916 24200691 24200783
 24200789 24200831 24200845 24250251 24250252 24250266 24250298 24250338
 24250403 24250376 24100722 24101133 23103187 24100286 24101087 24101284
 24200295 24200378 24200442 24200566 24200640 24200492 24200848 24200857
 24200864 24250198 24250208 24250279 24250386 24250432 24100348 24100705
 24100865 24101276 24101423 24101426 24101431 24100490 24100562 24100918
 24101063 24101188 24101484 24200617 24200630 24200741 24200807 24200817
 24200854 23250835 24250199 24250372 24100069 24101530 24100360 24100407
 24101442 24101443 24101468 24101549 24200060 24200229 24200643 24200767
 24200768 24200619 24200761 24200795 24200850 24200884 23250713 24250223
 24250262 24250297 24250410 23250348 23101778 23102062 23102878 23103143
 23103474 24100180 23103291 24100195 24101239 24101186 24101363 24100064
 24100314 24100408 24101308 24101354 24101355 24101357 24101392 24101398
 24200316 24200808 24200836 24200877 24200898 24250296 24250426 23250034
 24100058 24100549 24101147 24101386 24100028 24100702 24100753 24101025
 24101331 24101436 24100040 24100118 24100452 24100560 24100743 24100762
 24101174 24101394 24200187 24200392 24200679 24200816 24200822 24200853
 24250233 24250253 24250274 24250316 24250381]

--------------------------------------------------

Value counts for column 'sales_rep_name':
['FBER' 'KTIE' 'SBEA' 'MWIS' 'GXAV' 'DGAS' 'MRHO' 'AMIN' 'OGAL' 'BHOU'
 'THOU' 'WMOR' 'SGOY' 'JAKI' 'DHOU']

--------------------------------------------------

Value counts for column 'site':
['B' 'T' 'D']

--------------------------------------------------

Value counts for column 'date':
<DatetimeArray>
['2024-06-28 00:00:00', '2024-06-27 00:00:00', '2024-06-26 00:00:00',
 '2024-06-25 00:00:00', '2024-06-24 00:00:00', '2024-06-21 00:00:00',
 '2024-06-20 00:00:00', '2024-06-19 00:00:00', '2024-06-18 00:00:00',
 '2024-06-17 00:00:00', '2024-06-14 00:00:00', '2024-06-13 00:00:00',
 '2024-06-12 00:00:00', '2024-06-11 00:00:00', '2024-06-10 00:00:00',
 '2024-06-07 00:00:00', '2024-06-06 00:00:00', '2024-06-05 00:00:00',
 '2024-06-04 00:00:00', '2024-06-03 00:00:00']
Length: 20, dtype: datetime64[ns]

--------------------------------------------------

Value counts for column 'ship_to_country':
['US' 'CA' 'PE' 'ME' 'AU' 'UK' 'CO' 'SP' 'SK']

--------------------------------------------------

Value counts for column 'market_segment':
['TR' 'NT' 'NW' 'TA' 'PO' 'TE' 'PS' 'PV' 'NH' 'PI' 'PM' 'IC' 'NM' 'OL'
 'PP' 'TC' 'NO' 'OM' 'TP' 'PC' 'TO' 'PR']

--------------------------------------------------

Value counts for column 'quantity':
[ 1464     1   100    21  2056   221    20    50    40  1500   300  1079
   525  1592   150   250   110   161  1200   600   400     4   200  2000
  1400  8000   104   534    48    24   175     9   105    81    72  1931
    69  1000    52   108   500    92    35    13    15     2 15000   900
   462    30  3000    25     5    12    10    22    49 16072  2400   288
    27    75    60    64    16  1100   398    11     8  1800  1368   299
     7    41    23   121   115    90   432  2088   144   160    34   116
   182    18     6   930   864 10000    70   102    53    45   800    96
  2479    80    36   106   103   111   120   122    54    71    67   860
    32     3  1656  6075    38    89   232     0    87  1224   450    26
    19   512   119   165    56   504   360   240    46   545   151    47
   936    31    43    44    73   720   293    91  4000   156    55  2500
    33   410    88    95    42  1600  2880   356   419   405   195   540
   816   117   340    57    39   297    61   488    76   125    85   256
    17    99    93   402   420   370   408  1436    14]

--------------------------------------------------

Value counts for column 'unit_cost':
[1.0255900e+01 0.0000000e+00 3.6035000e+00 1.4249000e+01 2.1551700e+01
 1.0742700e+01 3.4420000e+01 1.0578400e+01 1.0870000e+01 7.1879000e+00
 1.3545000e+00 2.3704800e+01 6.2979000e+00 1.9141000e+00 8.4922000e+00
 4.5736000e+00 2.4555000e+00 9.2009000e+00 5.2030000e+01 1.1220000e+01
 3.4333000e+00 1.2354700e+01 4.4200000e+00 4.1234400e+01 1.8045000e+01
 2.1740800e+01 5.4080000e-01 2.8245900e+01 1.6146000e+00 5.0060600e+01
 9.5540000e+00 9.6888000e+00 3.1182000e+00 6.5560000e+02 4.1354000e+00
 7.8692000e+00 5.7779000e+00 1.1990860e+02 4.9445600e+01 4.9445900e+01
 3.3782800e+01 1.4392000e+00 1.4391000e+00 4.4572300e+01 4.4572400e+01
 9.4018000e+00 3.8466900e+01 2.6684200e+01 2.6684100e+01 2.3982800e+01
 7.9504000e+00 2.2804391e+03 3.1477569e+03 2.0555400e+02 8.2603500e+02
 1.1991000e+02 1.1971800e+01 1.7649900e+01 2.4282000e+00 3.8474000e+00
 2.5959000e+00 4.1159000e+00 2.6514500e+01 1.0814700e+01 1.2815400e+01
 5.3190000e+00 1.7670400e+01 2.2000000e+02 4.9622000e+00 8.6934000e+00
 3.8588000e+00 7.3730000e+00 1.3780000e+00 4.7187000e+00 1.9076800e+01
 4.2643000e+00 2.5425000e+01 6.4900000e+00 1.0820000e+01 1.2408300e+01
 1.9872900e+01 2.2102500e+01 2.7708590e+03 1.0000000e-02 2.8588005e+04
 6.3626000e+01 4.6446000e+00 3.9138000e+00 7.3830000e-01 1.6763000e+02
 1.8900000e+01 6.8340000e+01 9.2600000e+01 3.5790000e+01 7.8809000e+00
 1.4250000e+01 1.4249100e+01 2.9096100e+01 3.9699000e+01 8.5292000e+00
 1.3257000e+01 7.1009000e+00 3.5630000e-01 5.0760000e-01 5.3650000e-01
 1.0875200e+01 2.5508500e+01 5.8003000e+00 8.5829000e+00 1.6133800e+01
 1.0560000e+01 1.6302300e+01 7.7456000e+00 3.7380000e+00 4.6599200e+01
 6.3250000e+02 8.5735000e+01 1.5861000e+02 1.3130500e+02 4.1797000e+02
 1.5456800e+02 2.4798200e+01 2.3983800e+01 1.3076700e+01 1.2405500e+01
 1.6776300e+01 1.4826000e+01 9.3093000e+01 3.0570500e+01 3.5308000e+01
 1.4060700e+01 6.9181000e+00 1.0778000e+01 1.7174000e+01 3.2434000e+00
 7.9506000e+00 2.0170000e+01 1.2840000e+00 1.3531370e+02 1.0061900e+01
 1.0370000e+02 1.9159000e+00 2.6514300e+01 3.4791500e+01 2.5021000e+01
 5.3929000e+00 9.6404000e+00 2.6950000e+02 1.0362500e+01 6.5197300e+01
 2.1827220e+02 2.4460100e+01 1.1886500e+01 2.3920800e+01 2.0076900e+01
 2.4617000e+02 8.1116000e+00 3.5701300e+02 3.5701270e+02 3.9445300e+02
 1.9821000e+02 5.7838000e+00 2.9348600e+01 4.0881000e+00 7.6687000e+00
 7.1200000e+00 3.1502000e+00 6.0788000e+00 1.3372500e+01 1.1990880e+02
 1.4659700e+01 1.4659500e+01 2.7052900e+01 1.8754400e+01 1.4139000e+00
 9.0983000e+00 2.3808000e+00 1.4063300e+01 1.3337000e+01 3.8747500e+01
 1.7238500e+01 1.6066500e+01 4.7610000e+00 8.8200000e+00 2.9600000e+02
 7.8747000e+00 4.7486000e+00 3.7711100e+01 1.6560000e+00 1.7338300e+01
 3.4683000e+00 1.4720000e+00 1.1780800e+01 5.0530000e+00 1.9318000e+00
 1.0729600e+01 4.0046200e+01 2.6579900e+01 1.8899100e+01 1.2537000e+03
 6.9134000e+00 3.9013100e+01 1.0260000e+01 1.0817500e+01 5.6925000e+00
 1.7324000e+02 2.2084400e+01 4.8592000e+00 3.0252500e+01 2.0013000e+01
 3.8228000e+00 2.8869100e+01 1.2444800e+01 1.3250000e+01 7.5570000e+02
 8.8900000e+02 3.6204000e+00 5.8059000e+00 2.4554000e+00 4.0600000e+00
 1.0618000e+02 6.5260000e+00 1.9775000e+01 1.9774800e+01 8.1623000e+00
 1.2859400e+01 3.4721400e+01 1.2330600e+01 1.3220000e+01 4.2750000e+00
 3.1483000e+02 1.3441500e+02 1.0343400e+02 1.9353750e+02 1.2773800e+01
 9.2700000e+01 9.8322500e+01 2.5340800e+01 4.6675000e+01 1.1099100e+01
 1.2628500e+01 1.0647700e+01 8.5894000e+00 2.0571400e+01 2.0571500e+01
 2.1570000e+00 2.1567000e+00 2.1566000e+00 1.0900800e+01 5.8890000e+00
 4.9260000e+00 4.6960000e+00 7.5817000e+00 7.5617000e+00 1.3376000e+01
 8.3200000e+00 1.9570000e+01 8.6002500e+01 8.7455000e+01 3.8640000e+00
 2.0448000e+02 4.3899800e+01 4.3899700e+01 5.8388200e+01 7.6712000e+00
 7.2257000e+00 6.4069000e+00 2.0726600e+01 1.3553500e+01 9.3773000e+00
 1.0868300e+01 1.4578000e+00 1.1039700e+01 1.1176800e+01 1.8670300e+01
 8.2483000e+00 1.4894000e+01 5.3020000e+02 6.3910000e+02 5.4335000e+00
 2.8123000e+01 5.2940000e-01 1.4105300e+01 1.2130000e+01 2.4788100e+01
 1.8830000e+01 3.8012000e+01 3.8011900e+01 3.8013300e+01 2.1207300e+03
 1.0062000e+01 7.4500000e+00 4.3874000e+00 4.2398000e+00 1.9737000e+00
 1.0491000e+00 1.8806900e+01 1.0062100e+01 4.8233000e+00 4.6618000e+00
 1.6879000e+00 1.5227000e+00 1.6655500e+01 4.6483500e+01 6.2869000e+01
 1.3040000e-01 4.6801000e+00 2.7925600e+02 3.0091800e+02 5.1218000e+01
 4.6149000e+00 4.6145000e+00 2.7355000e+01 1.8956300e+01 5.1250000e+00
 1.3698000e+02 1.3850430e+04 8.7198300e+01 8.5000000e+00 1.2100000e+01
 8.7900000e+00 7.7457000e+00 1.3310900e+01 1.3375600e+01 3.9608000e+00
 5.2176000e+00 1.0026800e+01 5.4464000e+00 4.9269170e+02 1.3450700e+01
 8.1650800e+01 1.9452500e+01 6.0796000e+00 6.9580000e+00 4.9923500e+01
 3.4771500e+01 3.4771300e+01 3.4771400e+01 8.4720000e-01 7.6020000e-01
 7.6000000e-01 1.6335200e+01 3.6837500e+01 1.2751700e+01 1.6781400e+01
 6.3912500e+01 2.9553300e+01 4.8031700e+01 1.6109300e+01 1.8532670e+02
 3.5352000e+02 1.3890800e+01 1.5253900e+01 1.2892500e+01 8.8027000e+00
 2.7590800e+01 8.1481450e+03 1.1760000e+00 1.0000000e+02 1.0164600e+01
 1.4481500e+01 3.7215000e+00 1.8143500e+01 9.2400000e+02 2.3483200e+01
 9.0458000e+00 5.6902000e+00 9.4692000e+00 9.4691000e+00 9.4689000e+00
 4.1364700e+01 5.1527000e+01 2.0323800e+01 2.2192700e+01 6.7238000e+00
 1.7190000e+00 3.7809000e+01 7.4060000e+01 2.4714000e+02 1.0949400e+01
 9.4208000e+00 1.0640800e+01 3.5701280e+02 2.9136100e+01 6.8956000e+00
 8.2008000e+00 2.9388000e+00 1.9700000e-01 5.3495000e+00 9.3597000e+00
 3.5728000e+00 1.1241300e+01 2.8302000e+00 3.9788000e+00 1.1349200e+01
 5.5723000e+00 1.7338600e+01 1.4893900e+01 1.4462000e+01 1.3050000e+00
 2.1644000e+01 2.4596000e+00 8.9066000e+00 1.2586000e+00 4.0941700e+01
 2.1702900e+01 1.6780000e+01 2.1746300e+01 1.4331300e+01 1.3689500e+01
 1.4155000e+01 1.6110900e+01 1.0831000e+01 1.3830000e+01 1.5581000e+00
 2.9703800e+01 1.0776000e+02 5.9480000e-01 3.9139000e+00 8.4990000e-01
 4.2900000e-02 2.9440000e+00 2.4420000e-01 4.8000000e-01 3.6700000e+00
 3.9290000e+00 1.6320000e+00 2.2500000e-01 1.3710000e+01 7.9619000e+01
 3.6722500e+01 1.4595000e+00 6.1130000e+01 3.4300500e+01 6.1083000e+00
 9.7920000e-01 9.8000000e-01 1.4248400e+01 1.5150600e+01 2.8501400e+01
 9.1808000e+00 1.4827500e+01 1.4276200e+01 1.8190000e+01 1.2505000e+01
 7.5775000e+00 4.7250000e+00 6.8580000e+00 9.0896000e+01 5.6400000e+01
 5.0059144e+03 4.8596000e+00 6.0321000e+00 1.1032500e+02 1.0053000e+02
 8.1960000e-01 2.6563000e+00 6.7063000e+00 8.1392000e+00 5.7311000e+02
 3.7440500e+01 1.7655000e+01 1.8670400e+01 8.8121000e+00 8.5291000e+00

In [12]:
# 4.2. Correcting Typos, Handling Synonyms, Standardizing Formats 
# Remove '$' Sign from Specified Columns
def remove_dollar_sign(df, columns):
    for col in columns:
        # Remove dollar sign, commas, and handle negative numbers in parentheses
        df[col] = df[col].replace({r'\$': '', r',': '', r'\(': '-', r'\)': ''}, regex=True)
        
        # Convert to float
        df[col] = pd.to_numeric(df[col], errors='coerce')
        
    return df

# Call the function with the necessary columns
df = remove_dollar_sign(df, ['total_profit_usd', 'total_cost_usd'])

In [13]:
# 4.2. Correcting Typos, Handling Synonyms, Standardizing Formats 
# Reduce Values to Two Decimal Places
def reduce_to_two_decimals(df, columns):
    for col in columns:
        df[col] = df[col].round(2)
    return df
reduce_to_two_decimals(df, ['unit_cost','unit_price'])

,invoice_no,order_no,sales_rep_name,site,date,ship_to_country,market_segment,quantity,unit_cost,unit_price,total_profit_usd,total_cost_usd,total_value_usd
0,24002290,24100343,FBER,B,2024-06-28,US,TR,1464,10.26,14.79,6638,15015,21653
1,24002290,24100343,FBER,B,2024-06-28,US,TR,1,0.00,0.00,0,0,0
2,24002292,24101537,FBER,B,2024-06-28,US,TR,100,3.60,10.88,728,360,1088
3,24002292,24101537,FBER,B,2024-06-28,US,TR,1,0.00,0.00,0,0,0
4,24002293,23103363,KTIE,B,2024-06-28,US,NT,21,14.25,59.54,951,299,1250
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,316985,24250233,MRHO,D,2024-06-03,US,PI,2,576.52,2709.71,3125,848,3973
1115,316986,24250253,DHOU,D,2024-06-03,US,IC,1,420.50,483.20,45,309,354
1116,316987,24250274,DHOU,D,2024-06-03,US,IC,1,420.50,483.20,45,309,354
1117,316988,24250316,SGOY,D,2024-06-03,CA,TP,36,68.55,289.78,8618,1814,10432
1118,316989,24250381,MRHO,D,2024-06-03,US,PO,36,14.95,46.94,843,396,1239

In [14]:
unique_and_missing_values_dtype(df)

,non-Null_count,dtype,unique_values,%_unique,missing_values,%_missing
invoice_no,1117,int64,612,54.79%,0,0.0%
order_no,1117,int64,565,50.58%,0,0.0%
sales_rep_name,1117,object,15,1.34%,0,0.0%
site,1117,object,3,0.27%,0,0.0%
date,1117,datetime64[ns],20,1.79%,0,0.0%
ship_to_country,1117,object,9,0.81%,0,0.0%
market_segment,1117,object,22,1.97%,0,0.0%
quantity,1117,int64,177,15.85%,0,0.0%
unit_cost,1117,float64,536,47.99%,0,0.0%
unit_price,1117,float64,597,53.45%,0,0.0%
total_profit_usd,1117,int64,707,63.29%,0,0.0%
total_cost_usd,1117,int64,612,54.79%,0,0.0%
total_value_usd,1117,int64,721,64.55%,0,0.0%

In [15]:
# 4.3. Export cleaned dataset
df_cleaned = df.to_csv('../GPT_OPEN_AI_project/data/cleaned/df_cleaned.csv')

### 5. OpenAI Library
- 5.1. Installation of the OpenAI Library
- 5.2. Reading API Configuration Keys

In [16]:
# 5.1. Installation of the OpenAI Library
#!pip install --upgrade openai

In [17]:
# 5.2. Reading API Configuration Keys
# Load environment variables from a .env file
from dotenv import load_dotenv
import os

load_dotenv()

# Retrieve the API key from the environment variables
api_key = os.getenv("OPENAI_API_KEY")

In [18]:
import dash
from dash import dcc, html
import openai
from dotenv import load_dotenv
import pandas as pd
import os

# Load environment variables from a .env file
load_dotenv()

# Ensure your API key is stored securely, ideally in an environment variable
api_key = os.getenv("OPENAI_API_KEY")
if not api_key:
    raise ValueError("API key not found. Please set your OPENAI_API_KEY environment variable.")

# Set the OpenAI API key
openai.api_key = api_key

# Example of how to make a request to OpenAI API
completion = openai.ChatCompletion.create(
    model="gpt-4o-mini",  # Make sure to use the appropriate model version
    messages=[
        {"role": "system", "content": "You are an analytical assistant, skilled in deriving insights from sales data."},
        {"role": "user", "content": "Provide a summary of the key trends in the sales data."}
    ]
)

# Print the response
print(completion.choices[0].message['content'])

To provide an effective summary of key trends in the sales data, I'd typically analyze various aspects, including overall sales growth, seasonal variations, product performance, customer demographics, and geographic distribution. Here’s how you might summarize these trends:

1. **Overall Sales Growth**:
   - Identify the percentage increase or decrease in sales year-over-year or quarter-over-quarter.
   - Note any significant milestones, such as record sales months or declines during specific periods.

2. **Seasonal Variations**:
   - Highlight peak sales periods (e.g., holidays, back-to-school).
   - Analyze off-peak seasons and any related strategies to increase sales during these times.

3. **Product Performance**:
   - Determine which products or categories are driving sales growth or experiencing declines.
   - Analyze the introduction of new products and their impact on sales.

4. **Customer Demographics**:
   - Examine changes in customer demographics or preferences.
   - Identify any emerging customer segments that are contributing to sales growth.

5. **Geographic Distribution**:
   - Analyze sales by region to identify areas of strength or weakness.
   - Highlight any emerging markets that show significant growth potential.

6. **Promotion and Marketing Impact**:
   - Assess the effectiveness of recent promotions or marketing campaigns on driving sales.
   - Compare sales performance during promotional periods against regular sales periods.

7. **Inventory and Supply Chain**:
   - Discuss the relationship between sales trends and inventory levels.
   - Identify any supply chain challenges that may have impacted sales.

By synthesizing these points, you can provide a comprehensive overview of the sales data trends, which informs future strategies and decision-making processes. If you have specific data points or metrics you want to analyze, please provide them, and I can offer more tailored insights.

In [19]:
completion

<OpenAIObject chat.completion id=chatcmpl-9vROhEdoxjGVPXTDqST4q2yEfKGfb at 0x11d514820> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "logprobs": null,
      "message": {
        "content": "To provide an effective summary of key trends in the sales data, I'd typically analyze various aspects, including overall sales growth, seasonal variations, product performance, customer demographics, and geographic distribution. Here\u2019s how you might summarize these trends:\n\n1. **Overall Sales Growth**:\n   - Identify the percentage increase or decrease in sales year-over-year or quarter-over-quarter.\n   - Note any significant milestones, such as record sales months or declines during specific periods.\n\n2. **Seasonal Variations**:\n   - Highlight peak sales periods (e.g., holidays, back-to-school).\n   - Analyze off-peak seasons and any related strategies to increase sales during these times.\n\n3. **Product Performance**:\n   - Determine which products or categories are driving sales growth or experiencing declines.\n   - Analyze the introduction of new products and their impact on sales.\n\n4. **Customer Demographics**:\n   - Examine changes in customer demographics or preferences.\n   - Identify any emerging customer segments that are contributing to sales growth.\n\n5. **Geographic Distribution**:\n   - Analyze sales by region to identify areas of strength or weakness.\n   - Highlight any emerging markets that show significant growth potential.\n\n6. **Promotion and Marketing Impact**:\n   - Assess the effectiveness of recent promotions or marketing campaigns on driving sales.\n   - Compare sales performance during promotional periods against regular sales periods.\n\n7. **Inventory and Supply Chain**:\n   - Discuss the relationship between sales trends and inventory levels.\n   - Identify any supply chain challenges that may have impacted sales.\n\nBy synthesizing these points, you can provide a comprehensive overview of the sales data trends, which informs future strategies and decision-making processes. If you have specific data points or metrics you want to analyze, please provide them, and I can offer more tailored insights.",
        "refusal": null,
        "role": "assistant"
      }
    }
  ],
  "created": 1723477039,
  "id": "chatcmpl-9vROhEdoxjGVPXTDqST4q2yEfKGfb",
  "model": "gpt-4o-mini-2024-07-18",
  "object": "chat.completion",
  "system_fingerprint": "fp_507c9469a1",
  "usage": {
    "completion_tokens": 358,
    "prompt_tokens": 37,
    "total_tokens": 395
  }
}

### 6. Build the Dashboard in DASH

In [20]:
# Load the cleaned sales data
df = pd.read_csv('../GPT_OPEN_AI_project/data/cleaned/df_cleaned.csv')

In [21]:
# Initialize the Dash app
app = dash.Dash(__name__)

In [22]:
# Layout of the Dash app
app.layout = html.Div([
    html.H1("Interactive Sales Dashboard with AI Insights"),
    
    # Date range picker for filtering data
    dcc.DatePickerRange(
        id='date-picker-range',
        start_date=df['date'].min(),
        end_date=df['date'].max()
    ),
    
    # Dropdown to select different types of analysis
    dcc.Dropdown(
        id='analysis-type',
        options=[
            {'label': 'Total Sales Over Time', 'value': 'sales_over_time'},
            {'label': 'Sales by Sales Reps', 'value': 'top_sales_reps'}
        ],
        value='sales_over_time'
    ),
    
    # Graph to display the data
    dcc.Graph(id='sales-graph'),
    
    # Text box to input query for AI-generated insights
    dcc.Input(id='ai-query-input', type='text', placeholder='Ask about sales trends...', style={'width': '80%'}),
    html.Button('Get AI Insights', id='ai-query-btn', n_clicks=0),
    
    # Container for displaying AI-generated insights
    html.Div(id='ai-insights-output', style={'margin-top': '20px'}),
])

In [23]:
# Callback to update the graph based on selected analysis type and date range
@app.callback(
    Output('sales-graph', 'figure'),
    [Input('analysis-type', 'value'),
     Input('date-picker-range', 'start_date'),
     Input('date-picker-range', 'end_date')]
)
def update_graph(analysis_type, start_date, end_date):
    filtered_df = df[(df['date'] >= start_date) & (df['date'] <= end_date)]
    
    if analysis_type == 'sales_over_time':
        fig = px.line(filtered_df, x='date', y='total_value_usd', title='Total Sales Over Time')
    
    elif analysis_type == 'top_sales_reps':
        if 'sales_rep_name' in df.columns:
            top_reps = filtered_df.groupby('sales_rep_name')['total_value_usd'].sum().reset_index().sort_values(by='total_value_usd', ascending=False)
            fig = px.bar(top_reps, x='sales_rep_name', y='total_value_usd', title='Sales by Sales Reps')
    
    return fig


# Callback to handle AI-generated insights based on the query input
@app.callback(
    Output('ai-insights-output', 'children'),
    [Input('ai-query-btn', 'n_clicks')],
    [State('ai-query-input', 'value'),
     State('analysis-type', 'value'),
     State('date-picker-range', 'start_date'),
     State('date-picker-range', 'end_date')]
)

def generate_ai_insights(n_clicks, query, analysis_type, start_date, end_date):
    if n_clicks > 0 and query:
        # Filter the data based on date range
        filtered_df = df[(df['date'] >= start_date) & (df['date'] <= end_date)]

        # Generate specific data summaries based on the selected analysis type
        if analysis_type == 'sales_over_time':
            total_sales = filtered_df['total_value_usd'].sum()
            summary = f"Total sales over the selected period is {total_sales:.2f} USD."
        
        elif analysis_type == 'top_sales_reps':
            top_reps = filtered_df.groupby('sales_rep_name')['total_value_usd'].sum().sort_values(ascending=False)
            summary = f"Top sales reps and their sales: {top_reps.head(5).to_dict()}."

        # Modify the query to include this summary
        extended_query = f"{query} Here is a summary of the data: {summary}"

        try:
            response = openai.ChatCompletion.create(
                model="gpt-4o-mini",  # Replace with the appropriate model version
                messages=[
                    {"role": "system", "content": "You are an assistant specialized in analyzing sales data."},
                    {"role": "user", "content": extended_query}
                ]
            )
            return html.Div([
                html.H4("AI Insights"),
                html.P(response.choices[0]['message']['content'])
            ])
        except Exception as e:
            return html.Div([
                html.H4("Error"),
                html.P(f"An error occurred: {e}")
            ])
    return ""

### 7. Results. Run the app

In [24]:
# Run the app
if __name__ == '__main__':
    app.run_server(debug=True)